[run]
branch = True
relative_files = True

include =
    task_manager/*
    users/*
    statuses/*
    labels/*
    tasks/*

omit =
    */migrations/*
    */tests.py
    */tests/*
    manage.py

[report]
show_missing = True
skip_empty = True

[html]
directory = htmlcov

[xml]
output = coverage.xml