# Environment
.env
.env.*

# Разрешаем сохранить пример настроек
!.env.example

# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Local database
db.sqlite3

# Generated static files
staticfiles/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Editors
.idea/
.vscode/